@model Nola.ViewModels.Question.ShortQuestionViewModel
<a href="#" class="list-group-item question-short" data-question-id="@Model.Id">
    @Html.Raw(Model.Text)
</a>
    @*<button class="well well-sm" onclick="getQuestion(@Model.Id)" data-question-id="@Model.Id">
        @Model.Text
    </button>*@
